body {
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 6rem;
    
    
}
.logo{
    width: 150px;
    padding: 2rem;
    padding-top: 3rem;
    display: flex;
}
h2 {
    font-size: 60px;
    color: white;
    font-family: Outfit;
    margin-top: 0;
    line-height: 0.8em;
}
h1{
    font-size: 60px;
    color: white;
    padding-top: 2rem;
    font-family: Outfit, Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 0;
    padding: 0;
    line-height: 0.8em;
    
}

h3{
    font-size: 22px;
    color: #D20094;
    margin-bottom: 0;
}
.text{
    margin-top: 0;
}

.button {
    text-align: right;
    margin-right: 5rem;
}
#acceptButton {
    width: 150px;
    height: 50px;
    background-color: #00FFFF;
    font-family: Outfit;
    font-weight: bold;
    color:black;
    font-size:16px;
    margin-right: 4rem;
    box-shadow: 1px 1px 10px 1px #00FFFF, -1px -1px 10px 1px #00FFFF;
    border: transparent;
}
.ul{ 
    display: flex;
    
}
#firstCheckbox {
    margin-top: 4rem;
    
}