body {
    background-image: url(/assets/bg.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Inter, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    display: flex;

    height: 100%;
    background-repeat: no-repeat;
    justify-content: center;
}
.contenitore-padre{
    width: 80%;
}

.logo{
    width: 200px;
    display: flex;



}
.logo-box{
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 250px;
}

h2 {
    font-size: 40px;
    padding-top: 0;
    margin: 0;
    color: white;
    font-family: Outfit;
    text-align: center;
}
h1{
    font-size: 60px;
    color: white;
    font-family: Outfit, Arial, Helvetica, sans-serif;

}

main p{
   text-align: center;
    font-size: x-large;
}

.contenitore{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 550px;
}
.contenitore-figlio{
    width: 80%;
}
#chartContainer {
    width: 100%;
    height: 100%;
}
.correct{
    float: left;
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 80px;

}
.wrong{
    float: right;
    margin-right: 500px;
    margin-top: 200px;
    margin-left: 80px;
    
}
.paragraph {
    margin-top: 6rem;
}
footer {
    margin-top: 100px;
    margin-bottom:2rem;
}
button{
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 60px;
    
    font-family: Outfit, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    border-color: #00ffff;
  box-shadow: 1px 1px 2px 1px #00ffff, -1px -1px 2px 1px #00ffff;
  cursor: pointer;
}


#chartContainer {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-right: 100px;
    

}

footer{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-left: 100px;
    padding-bottom: 200px;
}
.paragraph{
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
}
.centered-text {
    position: absolute;
    top: -50px;
    font-size: 1em;
    font-weight: bold;
    transform: translate(-50%, -50%);
    padding: 2rem;
}